<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahalo - Quienes Somos</title>

    <link rel="stylesheet" href="./css/aboutUs.css">

</head>

<body>

    <header>
        <!-- nav -->

    </header>

    <main>
        <div>
                
            <h1>Quienes Somos</h1>

        </div>

        <div style="display: flex;">

                
            <div>
                <p>En <b><i>Mahalo</i></b> somos un equipo de profesionales apasionados por la belleza y el cuidado personal. Nos dedicamos a brindarte servicios de alta calidad para que luzcas radiante y segura de vos misma. </p>

                <div style="display: flex;">
                <p>Ofrecemos una aplia gama de servicios, incluyendo:</p>
                <ul>
                    <li>Uñas</li>
                    <li>Pestañas</li>
                    <li>Cejas</li>
                </ul>
                </div>


            </div>

                <!-- Imagen del local -->
                



        </div>


    </main>

    <footer>


    </footer>




</body>

</html>