<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahalo - Quienes Somos</title>

    <link rel="stylesheet" href="./css/aboutUs.css">

    <!-- Favicon -->
    <link rel="icon" href="../../assets/images/favicon_io/favicon.ico" type="image/x-icon">

    <!-- Family font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

</head>

<body>

    <header>
        <!-- nav -->
        <a href="../home/home.html"><img id="mahaloIcon" src="../../assets/images/mahaloIntagramIconPNG.png"
                alt="logo Mahalo"></a>
        <nav>
            <a href="../home/home.html">Inicio</a> |
            <a href="../specialties/specialties.html">Especialidades</a> |
            <a href="../aboutUs/aboutUs.html">Sobre nosotros</a> |
            <a href="../contact/contact.html">Contacto</a>
        </nav>

    </header>

    <main>
        <div id="banner-aboutUs" class="roboto-regular">

            <h1>¿Quiénes Somos?</h1>

        </div>
        <br>
        <div style="display: flex;justify-content: space-evenly;">

            <!-- Texto informativo -->
            <div id="main-article" class="roboto-regular">
                <p>En <b><i>Mahalo</i></b> somos un equipo de profesionales apasionados por la belleza y el cuidado
                    personal. Nos dedicamos a brindarte servicios de alta calidad para que luzcas radiante y segura de
                    vos misma. <br><br></p>

                <div class="service-list">
                    <p>Ofrecemos una amplia gama de servicios, incluyendo: </p>
                    <ul>
                        <li>Uñas</li>
                        <li>Pestañas</li>
                        <li>Cejas</li>
                    </ul>
                </div>
            
                <br>
            
                <p>Nuestro objetivo es que te sientas cómoda durante tu visita. Nos tomamos el tiempo para comprender
                    tus necesidades y preferencias para brindarte un servicio personalizado que te haga sentir bella y
                    segura de vos misma.</p>
                
                <br>

                <p><strong><i>Mahalo</i></strong> significa "gracias" en hawaino. Es una palabra que refleja nuestra filosofía
                    de agradecimiento a nuestros clientes por su confianza. Nos sentimos agradecidos por la oportunidad
                    de ayudarte a resaltar tu belleza natural.</p>

                <br>

                <i><strong>Visitanos y descubrí la experiencia Mahalo</strong></i>
                
                <br>
            </div>

            <!-- Imagen del local -->
            <img src="../../assets/images/standUñasMahalo.jpg" alt="imagen_stand_uñas"
                style="width: 200px;height: 350px; border-radius: 20px; padding: 10px;">

        </div>


        <!-- Galería -->
        <div style="display: flex;flex-direction: column;align-items: center;">
            <h1 id="gallery-title">Galería de Fotos</h1>

            <div class="gallery-container">

                <div class="gallery-photo">
                    <img src="../../assets/images/entradaMahalo.jpg" alt="Imagen entrada local">
                </div>

                <div class="gallery-photo">
                    <img src="../../assets/images/recepcionMahalo.jpg" alt="Imagen recepcion local">
                </div>

                <div class="gallery-photo tall">
                    <img src="../../assets/images/salaMahalo.jpg" alt="Imagen sala lifting">
                </div>

                <div class="gallery-photo wide">
                    <img src="../../assets/images/backgroundImage.jpg" alt="imagen sala uñas">
                </div>

                <div class="gallery-photo">
                    <img src="../../assets/images/uñasRosas.jpeg" alt="imagen uñas rosas">
                </div>

                <div class="gallery-photo">
                    <img src="../../assets/images/uñasLilas.jpeg" alt="imagen uñas lilas">
                </div>

                <div class="gallery-photo">
                    <img src="../../assets/images/uñasFluor.jpeg" alt="imagen uñas fluor">
                </div>




            </div>

        </div>


    </main>

    <footer>
        <div>
            <a href="https://www.instagram.com/mahalo.belleza/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                    width="40px" height="40px" viewBox="0 0 192 192" fill="none">
                    <path stroke="#000000" stroke-width="12"
                        d="M96 162c-14.152 0-24.336-.007-32.276-.777-7.849-.761-12.87-2.223-16.877-4.741a36 36 0 0 1-11.33-11.329c-2.517-4.007-3.98-9.028-4.74-16.877C30.007 120.336 30 110.152 30 96c0-14.152.007-24.336.777-32.276.76-7.849 2.223-12.87 4.74-16.877a36 36 0 0 1 11.33-11.33c4.007-2.517 9.028-3.98 16.877-4.74C71.663 30.007 81.847 30 96 30c14.152 0 24.336.007 32.276.777 7.849.76 12.87 2.223 16.877 4.74a36 36 0 0 1 11.329 11.33c2.518 4.007 3.98 9.028 4.741 16.877.77 7.94.777 18.124.777 32.276 0 14.152-.007 24.336-.777 32.276-.761 7.849-2.223 12.87-4.741 16.877a36 36 0 0 1-11.329 11.329c-4.007 2.518-9.028 3.98-16.877 4.741-7.94.77-18.124.777-32.276.777Z" />
                    <circle cx="96" cy="96" r="30" stroke="#000000" stroke-width="12" />
                    <circle cx="135" cy="57" r="9" fill="#000000" />
                </svg></a>
        </div>
        <div style="display: flex; justify-content: center;">
            <div>
                <img style="width: 40px;" src="../../assets/fotoPerfilInstragram.jpg" alt="">
            </div>

            <p>
                <strong>Mahalo © 2024 </strong>
            </p>
        </div>
    </footer>




</body>

</html>