<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mahalo</title>

    <!-- CSS -->
    <link rel="stylesheet" href="./css/specialties.css">
    <link rel="stylesheet" href="./../../common/footer/footer.css">
    <link rel="stylesheet" href="../../common/header/header.css">

    <!-- Favicon -->
    <link rel="icon" href="../../assets/images/favicon_io/favicon.ico" type="image/x-icon">

    <!-- Family font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>

<!-- Scripts -->
<Script type="module" src="./js/specialties.js"></Script>

<body>
    <header class="sticky-top"></header>
    <main>
        <div id="banner-aboutUs" class="roboto-regular">
            <h1>Servicios para realzar tu belleza natural</h1>
        </div>
        <div class="white-space"></div>
        <div id="cardsContainer">
            <div class="card">
                <div class="card-content" style="background-image: url(../../assets/images/uñasTom.jpeg); background-size: cover;">
                    <p class="card-title">Esculpidas en Gel</p>
                    <p class="card-para"><b>Diseñamos tus uñas a la perfección con gel de alta calidad, para que tus manos luzcan impecables</b></p>
                </div>
            </div>

            <div class="card">
                <div class="card-content" style="background-image: url(../../assets/images/pestañas.jpg); background-size: cover;">
                    <p class="card-title">Lifting de Pestañas</p>
                    <p class="card-para">Logra pestañas curvadas y voluminosas de forma natural con nuestro Lifting.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-content" style="background-image: url(../../assets/images/trenzas.png); background-size: cover;">
                    <p class="card-title">Trenzas</p>
                    <p class="card-para">Lucí un peinado único y personalizado con nuestras trenzas.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-content" style="background-image: url(../../assets/images/cejas.jpg); background-size: cover; background-position: bottom;">
                    <p class="card-title">Perfilado de Cejas</p>
                    <p class="card-para">Enmarca tu rostro con cejas perfectamente definidas y personalizadas].</p>
                </div>
            </div>
        </div>

        <div class="white-space"></div>

        <div class="info-text">
            <h2>¡Ademas podemos ofrecerte!</h2>
            <br>
            <h4>Kapping | Semipermanente | Pies</h4>
            <h4>Maquillaje | Trenzas</h4>
            <h4>Perfilado de Cejas </h4>
        </div>

        <div id="tinyWhiteSpace" class="white-space"></div>

        <div class="info-text">
            <h4>Contáctanos para descubrir más sobre nuestros servicios y reservar tu cita.</h4>
            <h2>¡Te esperamos!</h2>
        </div>

        <div class="white-space"></div>
    </main>
    <footer></footer>
</body>

</html>