/* Header section */

/* fonts */
:root{
    --bg-color: #ffd2cc;
    --accent-color: #CCF9FF;
}
*{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #332b2a;
}

.navbar {
    background-color:var(--bg-color); 
}

#headerList{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.header-menu{
    display: block;
}

/* Icon */
#mahaloIcon{
    width: 120px;
}

/* End Header section */


/* Footer section */
footer {
    background-color: var(--bg-color);
  }
  
  footer img {
    width: 80px;
  }
  
  .copyright-footer{
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  

/* End Footer section */

/* main content */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;    /* same as flex-grow: 1; */
}

.white-space{
    height: 20px;
}


/* Form contact content */

form{
    width: 50%;
}

.btn-primary {
    background-color: var(--accent-color) !important;
    color: #000000 !important;
    border-color: var(--bg-color) !important;
}



/* End form contact content */

/* End main content */