/*#region fonts and general content*/
:root {
    --bg-color: #ffd2cc;
    --accent-color: #CCF9FF;
    --font-color:  #411020;
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    background-color: var(--bg-color);
}

h3,h4,h5,h6,p{
    color: var(--font-color) !important;
}

* {
    margin: 0%;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    width: 100%;
    font-size: 7vh;
    text-align: center;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
}
/*#endregion fonts and general content*/

/*#region main content */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
    /* same as flex-grow: 1; */
}

#banner-aboutUs {
    background-image: url("../../../assets/images/recepcionMahaloHorizontal.jpeg");
    height: 350px;
    background-size: cover;
    background-position: top;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    color: var(--bg-color); 
    font-size: 170%;
    text-align: center;
}

.presentation-mahalo {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-info{
    width: 60%; 
    margin-bottom: 2%;
}

.section-mahalo {
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
}

.services-mahalo {
    text-align: center;
    width: 100%;
    padding: 40px;
    color: #4b2d42;
}

.container-services {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.div-cards {
    width: 400px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    margin: 20px;
    border-radius: 15px;
}

.div-cards h2 {
    color: rgb(177, 79, 123);
}

.div-cards img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

.text-estetica{
    font-size: 4vh;
}

.div-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.refButton {
    color: white;
    border-radius: 10px;
}

.buttons {
    border: none;
    background-color: #4b2d42;
    height: 70px;
    width: 600px;
    border-radius: 10px;
}

.choose-us {
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
}

.title-choose {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    font-size: 6vh;
    background-color: #ffd2cc;
    color: #4b2d42;
}

.container-choose {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
}

.reason-choose {
    text-align: center;
    width: 40%;
    margin-top: 40px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-left: 3px solid #4b2d42;

}

.subt-choose {
    display: flex;
    justify-content: start;
    text-align: start;
    color: rgb(120, 54, 84);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 10px;

}

.text-choose {
    text-align: start;
    margin-left: 80px;
    color: rgb(123, 47, 255);
    align-items: center;
    text-align: center;
    width: 100%;
}


/*#endregion main content */

/* #region responsive */
@media only screen and (max-width: 600px) {
    .container-services {
        display: flex;
        flex-direction: column;
    }

    .divs-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .buttons {
        margin: 20px;
        width: 300px;
    }

    .container-choose {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: 600px) and (max-width: 767px) {

    .buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 400px;
    }

    .container-services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }

}



@media (min-width:768px) and (max-width:1024px) {
    .buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 400px;
    }

    .container-services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }
}


/*#endregion responsive */