/* Start of header section */
header{
    background-color:#D1B681; 
    display: flex; 
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

#headerList{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.header-menu{
    display: block;
}

/* Icon */
#mahaloIcon{
    width: 120px;
}

/* End Header section */

/* Start of body section */

#banner-aboutUs {

    background-image: url('../../../assets/images/recepcionMahaloHorizontal.jpeg');
    height: 400px;
    background-size: cover;
    background-position: top;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    color: #D1B681; /* MODIFICAR COLOR CUANDO ESTE LA PALETA */
    font-size: 170%;
}

/* End of body section */

/* Footer section */
footer{
    background-color:#D1B681;
}


/* End Footer section */