<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="../../common/footer/footer.css">
    <link rel="stylesheet" href="../../common/header/header.css">
    <title>Mahalo</title>
</head>

<script type="module" src="../home/js/home.js"></script>
<body>

    <header class="sticky-top"></header>

    <main class="roboto-regular">

        <section class="about-mahalo">

            <h1>Estética integral</h1>
            <div class="presentation-mahalo">
                <p class="text-estetica">Somos una estética con mas de 5 años de trayectoria que se enfoca en ver los resultados obtenidos, reflejado en la sonrisa de nuestro cliente. Para ello, contamos con profesionales 100% capacitados para brindarles el servicio que merece cada persona que pasa por nuestras instalaciones.</p>
            </div>

        </section>

        <section class="section-mahalo">

            <div class="services-mahalo">
                <h2>¿En qué areas nos especializamos?</h2>
            </div>

            <div class="container-services">

                <div class="div-cards">
                    <h2>Manicuria</h2>
                    <p>Servicio de manicuria en general. Contamos con un amplio equipo que brinda el servicio más completo. </p>
                    <img src="./manicuria-home.jpg" alt="">
                </div>

                <div class="div-cards">
                    <h2>Lifting</h2>
                    <p>Nuestro servicio de lifting renueva apariencias y potencia tu belleza facial al máximo.</p>
                    <img class="lifting" src="./lifting-home.jpg" alt="">
                </div>

                <div class="div-cards">
                    <h2>Maquillaje integral</h2>
                    <p>Nuestro equipo se encarga de brindarte el mejor resultado sin olvidar un rostro saludable.</p>
                    <img src="./maquillaje-home.jpg" alt="">
                </div>

                <div class="div-cards">
                    <h2>Peinados</h2>
                    <p>Nuestros estilistas se encargan de brindarte la mejor experiencia para los clientes mas exigentes.</p>
                    <img src="./peinados-home.jpg" alt="">

                </div>
            </div>
            
            <div class="div-buttons">
                <button class="buttons"><a class="refButton" href="../specialties/specialties.html"> ¡Quiero conocer mas!</a></button>
                <button class="buttons"><a class="refButton" href="../contact/contact.html">¡Quiero contactarme con Mahalo!</a></button>
            </div>


        </section>

        <section class="choose-us">

            <div class="title-choose">
                <h2>¿Por qué elegirnos?</h2>
            </div>

            <div class="container-choose">

                <div class="reason-choose">
                    <h2 class="subt-choose">Profesionales de primer nivel</h2>
                    <p class="text-choose">Detras de cada profesional, hubo un equipo que se encargó de contratar al mejor perfil</p>
                </div>
                <div class="reason-choose">
                    <h2 class="subt-choose">Instalaciones a la vanguardia</h2>
                    <p class="text-choose">Contamos con instalaciones, aparatos y herramientas de primer nivel para hacer de esta, la mejor experiencia</p>
                </div>
                <div class="reason-choose">
                    <h2 class="subt-choose">Ubicacion accesible</h2>
                    <p class="text-choose">Nuestro centro se encuentra en una ubicacion de gran accesibilidad en la zona</p>
                </div>
                <div class="reason-choose">
                    <h2 class="subt-choose">Clientes satisfechos</h2>
                    <p class="text-choose"> Cada cliente que pasó por nuestro espacio, confirma que trabajamo combinando profesionalismo y pasion lor lo que realizamos</p>
                </div>
            </div>


        </section>

    </main>

    <footer>

    </footer>

</body