<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/home.css">
    <title>Mahalo</title>
</head>

<script type="module" src="../home/js/home.js"></script>
<body>

    <header class="sticky-top"></header>

    <main class="poppins-regular">

        <section class="sobre-mahalo">
            <h1>Estetica integral</h1>
            <div class="quieneSomos">
                <p>Somos una estetica con mas de 5 años de trayectoria que se enfoca en ver los resultados obtenidos, reflejado en la sonrisa de nuestro cliente. Para ello, contamos con profesionales 100% capacitados para brindarles el servicio que merece cada persona que pasa por nuestras instalaciones.</p>
            </div>


        </section>

        <section class="section-mahalo">

            <div class="servicios-mahalo">
                <h2>¿En que areas nos especializamos?</h2>
            </div>

            <div class="container-servicios">

                <div class="div_1">
                    <h2>Manicuria</h2>
                    <p>Servicio de manicuria en general. Contamos con un amplio equipo que brinda el servicio mas completo. </p>
                    <img src="./manicuria-home.jpg" alt="">
                </div>

                <div class="div_1">
                    <h2>Lifting</h2>
                    <p>Nuestro servicio de lifting renueva apariencias y potencia tu belleza facial al maximo.</p>
                    <img class="lifting" src="./lifting-home.jpg" alt="">
                </div>

                <div class="div_1">
                    <h2>Maquillaje integral</h2>
                    <p>Nuestro equipo se encarga de brindarte el mejor resultado sin olvidar un rostro saludable.</p>
                    <img src="./maquillaje-home.jpg" alt="">
                </div>

                <div class="div_1">
                    <h2>Peinados</h2>
                    <p>Nuestros estilistas se encargan de brindarte la mejor experiencia para los clientes mas exigentes.</p>
                    <img src="./peinados-home.jpg" alt="">

                </div>
            </div>
            <div class="divs-buttons">
                <button class="buttons"><a class="refButton" href="../specialties/specialties.html"> ¡Quiero conocer mas!</a></button>
                <button class="buttons"><a class="refButton" href="../contact/contact.html">¡Quiero contactarme con Mahalo!</a></button>
            </div>


        </section>

        <section class="elegirnos">

            <div class="titulo-elegirnos">
                <h2>¿Por que elegirnos?</h2>
            </div>

            <div class="container-elegirnos">

                <div class="elegirnos_1">
                    <h2 class="subt-elegirnos">Profesionales de primer nivel</h2>
                    <p class="text-elegirnos">Detras de cada profesional, hubo un equipo que se encargo de contratar al mejor perfil</p>
                </div>
                <div class="elegirnos_1">
                    <h2 class="subt-elegirnos">Instalaciones a la vanguardia</h2>
                    <p class="text-elegirnos">Contamos con instalaciones, aparatos y herramientas de primer nivel para hacer de esta, la mejor experiencia</p>
                </div>
                <div class="elegirnos_1">
                    <h2 class="subt-elegirnos">Ubicacion accesible</h2>
                    <p class="text-elegirnos">Nuestro centro se encuentra en una ubicacion de gran accesibilidad en la zona</p>
                </div>
                <div class="elegirnos_1">
                    <h2 class="subt-elegirnos">Clientes satisfechos</h2>
                    <p class="text-elegirnos"> Cada cliente que paso por nuestro espacio, confirma que trabajamo combinando profesionalismo y pasion lor lo que realizamos</p>
                </div>
            </div>


        </section>

    </main>

    <footer>

    </footer>

</body